/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column; /* 默认就是column，但为了明确可以加上 */
    min-height: 100vh; /* 确保body至少占据整个视口高度 */
    margin: 0; /* 保持全局样式一致，避免默认边距 */
}

/* 背景图片样式 */
.beijing {
    position: absolute;
    background-image: url(../images/haiyang.png);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
    /* 设置一个较低的z-index */
    z-index: 1;
}
/* 头部样式 */
header {
    height: 70px;
    width: 100%;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    /* 设置一个较高的z-index */
    z-index: 2;
}
.header-info {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
}
/* logo样式 */
.Logo {
    position: absolute;
    left: 60px;
    top: 0;
    width: 150px;
    height: 70px; /* 确保高度与背景图匹配 */
    overflow: hidden; /* 避免背景图超出元素范围 */
    /* 使用文本缩进和白空格处理隐藏原始文本内容，同时保持语义化，适用于辅助设备 */
    text-indent: 100%;
    white-space: nowrap;
    /* logo样式 */
    background-image: url(../images/xuebuhui-logo.png); /* 确保图片路径正确 */
    background-size: cover; /* 图片自适应填充背景区域 */
    background-repeat: no-repeat; /* 防止图片重复 */
    background-position: left center; /* 调整图片位置，让其从左侧开始显示 */
}
/* 头像样式 */
.avatar {
    position: absolute; /* 使用绝对定位，基于最近的relative祖先元素定位，这里是header */
    top: 55%; /* 将头像顶部定位在header的中部 */
    transform: translateY(-50%); /* 上移自身高度的一半，实现垂直居中 */
    right: 5vw; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1; 
}

/* 导航栏的列表项 */
header li {
    display: inline;
    margin-right: 1vw;
}
header ul {
    position: absolute;
    right: 7vw;
    top: 0;
    line-height: 70px;
}
header a {
    color: rgb(17, 0, 255);
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

/* 主体内容区域 */
main {
    display: flex; /* 使用Flex布局 */
    flex-direction: column; /* 设置为列布局 */
    justify-content: center; /* 垂直居中对齐 */
    align-items: center; /* 水平居中对齐 */
    text-align: center; /* 保证文本内容也居中 */
    min-height: 50vh;
}
h2 {
    color: #7e1111;
    margin-top: 0;
}
p {
    line-height: 1.6;
    color: #524f4f;
}

/* 栏域样式 */
.container {
    background-color: #bbbbbb;
    width:100%
}
.header_2 {
    background-color: #bbbbbb;
    height: 60px;
    width: 50%;
    margin-left: 25%;
    margin-top: 70vh;
}
/* 栏快 */
.lankuai ul {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
    justify-content: space-between; /* 自动在列表项间分配空间，最后一项两侧无额外空间 */
    /* 或使用 gap 属性在 Flexbox 布局中直接设置项目间的间隔，但需注意兼容性 */
    gap: 5vw;
    line-height: 50px;
}
.lankuai li {
    display: inline;
}

.yanjiao {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}
/* 页脚样式 */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}